.gallery-container {
  display: flex;
  justify-content: center;

  .image {
    width: 70%;
    height: 70%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .gallery-container {
    justify-content: center;
    height: auto;
  }

  .thumbnail-container {
    flex-shrink: 0;
  }

  .main-img {
    margin: 20px;
  }

  .main-img img {
    width: 100%;
  }
}
